#projects_section{
    display: block;
}

.projects_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.projects_header h1 {
    color: #003Cd7;
    font-family: "Inter";
    font-size: 50px;
    letter-spacing: 5px;
}

.projects_header a{
    padding-right: 150px; 
}

.container_grid {
    display: grid;
}

.projects_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    gap: 20px 200px;
    position: relative;
}

.projects_item {
    width: 250px;
    height: 250px;
    background-color:#003Cd7;
    border-radius: 10px;
    overflow: hidden;
}
.projects_item img{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.projects_item img.morse {
    width: 240px;
    height: 250px;
}

.projects_item img.morse {
    width: 260px;
    height: 250px;
}