#about_section {
    display: block;
}

.profile_header {
    display: block;
    position: relative;
}

.profile_header h1 {
    text-align: center;
    padding: 50px;
    color: #003Cd7;
    font-family: "Inter";
    font-size: 50px;
    letter-spacing: 5px;
}

.profile_text {
    color: #003Cd7;
    font-family: "Quicksand";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 5px;

    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: 0 50px;
}


/* for smaller devices (medium, small) */
@media screen and (max-width: 1024px) {
    #about__section{
        width: 50%;
        height: 100vh;
        gap: 0;
    }




}

@media screen and (max-width: 600px) {

    .about__me{

        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards{

        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content{

        text-align: center;
    }

    .about__content p{

        margin: 1.5rem 0;
    }
}