#art_section{
    display: block;
}

.art_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.art_header h1 {
    color: #003Cd7;
    font-family: "Inter";
    font-size: 50px;
    letter-spacing: 5px;
}

.art_header a{
    padding-left: 150px;
}


.art_grid {
    display: grid;
}

.art_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    gap: 20px 200px;
    position: relative;
}

.art_item {
    width: 250px;
    height: 250px;
    background-color:#003Cd7;
    border-radius: 10px;
    overflow: hidden;
}
.art_item img{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.art_item img.still{
    object-fit: fill;
}