.moreart_section {
    width: 100vw;
    height: 100vh;
}

.moreart_section h1 {
    display: flex;
    justify-content: center;

    position: relative;
    top: 45%;

    color: #003Cd7;
    font-family: "Inter";
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 5px;
}