@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image:url("/src/assets/paperbackground.jpg");
    height:1500px;
    width:100vw;
    padding:0;
    margin:0;
    overflow-x:hidden;
    overflow-y:scroll;
}

.logo {
    height:250px;
    width:250px;
    transform:rotate(-4deg);
    padding:0;
    margin:0;

    position:absolute;
    left:2%;
}

.navbar {
    padding:10px;
    margin:0;

    position:sticky;
    top:0;
    z-index:100;
    text-align:right;

    list-style-type:none;
}

.pagenames {
    height:auto;
    width: auto;

    display:inline-block;
    padding-inline:30px;
    margin:0px;
}

.pagenames a {
    color:#29335C;
    font-family:"Quicksand";
    font-size:20px;
    font-weight:300;
    letter-spacing:5px;

    text-decoration:none;
}
.pagenames a:hover {
    
    color:#DB2B39
}

#name {
    height:auto;
    width:auto;
    padding:0;
    margin:0;

    position:relative;
    top:3em;

    color: #29335C;
    font-family:"Playfair";
    font-size:80px;
    font-weight:500;
    letter-spacing:10px;
    text-align:center;
}

#tagline {
    height:auto;
    width:auto;
    padding:0;
    margin:0;

    position:relative;
    top:7em;
    left:8.3em;

    color:#29335C;
    font-family:"Quicksand";
    font-size:35px;
    font-weight:300;
    letter-spacing:5px;
    text-align:left;

}

.computer {
    height:750px;
    width:790px;
    transform:rotate(7deg);
    padding:0;
    margin:0;

    position:absolute;
    top:7%;
    right:0%;
    z-index:-1;
}

.go {
    height:auto;
    width:100vw;
    padding:0;
    margin:0;

    position:absolute;
    top:31em;
    text-align:center;

    color:#29335C;
    font-family:"Quicksand";
    font-size:20px;
    font-weight:300;
    letter-spacing:5px;
}

.outerbox {
    height:90vh;
    width:90vw;
    border-style:solid;
    border-width:2px;
    border:#29335C
}